In [1]:
import numpy as np
import pandas as pd
import librosa

/home/user/.local/lib/python3.6/site-packages/librosa/util/decorators.py:9: NumbaDeprecationWarning: An import was requested from a module that has moved location.
Import of 'jit' requested from: 'numba.decorators', please update to use 'numba.core.decorators' or pin to Numba version 0.48.0. This alias will not be present in Numba version 0.50.0.
  from numba.decorators import jit as optional_jit

In [22]:
path = librosa.util.example_audio_file()
signal, sr = librosa.load(path, sr=None)

In [23]:
st = 1.0
ed = 2.122
length = round(ed - st, 2)
n_seg = int(round(len(signal)/sr/length, 0))

In [24]:
seg_starts_sec = []
for i in range(n_seg):
    seg_start = i * length
    seg_starts_sec.append(seg_start)
seg_starts_sec = np.array(seg_starts_sec)

In [25]:
feat_names = [f'mfcc_{i+1}' for i in range(12)]

In [26]:
df_seg = pd.DataFrame(seg_starts_sec, columns=['seg_start_sec'])
df_seg['label'] = 'None'
for i, name in enumerate(feat_names):
    df_seg[name] = np.nan
df_seg.head()

,seg_start_sec,label,mfcc_1,mfcc_2,mfcc_3,mfcc_4,mfcc_5,mfcc_6,mfcc_7,mfcc_8,mfcc_9,mfcc_10,mfcc_11,mfcc_12
0,0.00,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.12,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.24,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.36,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.48,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN